/* 노토 산스 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

*{
    padding:0; margin: 0; box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
}
a{text-decoration: none; color:#000;}
ul,ol,li {list-style: none;}
button {display:flex; justify-content: center; align-items: center; outline: none; background: none; border:none; cursor: pointer;}


/********************** button **********************/
[class*="btn-"] {border-radius: 4px;}
.btn-sm { padding: 4px}
.btn-md { padding: 12px;} 
.btn-lg {}
.btn-28 {height: 28px;}
.btn-32 {height: 32px;}

.btn-thumb {
    border: 1px solid #b71919;
    background-color: #b71919;
    color:#fff;
}
.btn-primary {
    border: 1px solid #007bff;
    background-color: #007bff;
    color:#fff;
}
/********************** input **********************/
input {
    outline: none;
    border: 2px solid #ccc;
    transition: border 0.5s;
    color:#000;
}
input:focus {
    border: 2px solid dodgerblue;
}
.input-32 {
    height: 32px;
    padding: 12px 8px;
}


/********************** 모달 **********************/
.modal-anim-start {
    opacity: 0;
    transition: 0.5s;
}
.modal-anim-end {
    opacity: 1;
}
/* vue 내장 컴포넌트 transtion의 클래스 3개 */
/* anim 시작시 */
.fade-enter-from {
    opacity: 0;
}
/* transtion 적으면 됨 */
.fade-enter-active {
    transition: 0.5s;
}
/* anim 끝날시 */
.fade-enter-to {
    opacity: 1;
}
.fade-leave-from {
    opacity: 1;
}
.fade-leave-active {
    transition: 0.5s;
}
.fade-leave-to {
    opacity: 0;
}

.modal-wrap {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
.modal {
    position: relative;
    width: 100%;
    max-width: 700px;
    background-color: #fff;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-weight: 500;
    font-size: 14px;
}
.modal-head {
    margin-bottom: 40px;
}
.modal>h2 {
    font-size: 28px;
    color: #000;
}

.modal>p {
    color: #333;
}

.modal-content {
    display: flex;
    gap: 20px;
}

.modal-content-img {}
.modal-content-img>img {}
.modal-content-info {}
.modal-footer {
    display: flex;
    width: 100%;
    gap:40px;
}
.modal-footer span{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    font-weight: 500;
    flex-shrink: 0;
}
.modal-footer input {
    flex-grow: 1;
    width: 100%;
}
/* 정렬 드롭다운 메뉴 */
.sort-button-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.sort-button-wrap > button {
    font-weight: 500;
}
.sort-list {
    position: absolute;
    top: calc(100% + 8px);
    width:130px;
    border: 1px solid #ddd;
    background-color: #fff;
}
.sort-list > li {
    display: flex;
    align-items: center;
    padding-left: 16px;
    height: 45px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
} 
.sort-list li.active {
    font-weight: bold;
}