section {
    padding: 0 20px;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 28px;
    background-color: #333;
    padding: 10px 20px;
    border-radius: 10px;
}

.menu>a {
    color: #fff;
}

.item-info-inner>ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.item-info-inner>ul>li {
    padding: 16px;
    margin-top: 20px;
    background-color: rgb(246, 218, 218);
}
.product-img {
    border-radius: 8px;
    overflow: hidden;
    font-size: 0;
    margin-bottom: 12px;
}
.product-img img {
    width: 100%;
    max-width: 200px;
}
.btn-wrap.report {
    margin-top: 16px;
}
.btn-wrap.report button {
    padding: 0 4px;
    height: 28px;
    background-color: #b71919;
    color: #fff;
    border-radius: 4px;
    border: 1px solid #fff;
    margin-right: 12px;
}

.btn-wrap.report span {
    font-size: 14px;
    color: #111;
}

.banner-promotion {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
    gap:32px;
    padding: 28px 20px;
    margin:24px 0;
    background-color: #000;
    color:#fff;
}
.banner-promotion > p {
    font-size: 14px;
}